<a href="https://colab.research.google.com/github/vivianahuetio/SQLZOO_Excercises/blob/main/Notebook_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. Librer√≠as

In [ ]:
# Con esta sentencia instalamos pandasql
!pip install pandasql

In [8]:
# Con esta sentencia importamos las librerias
import pandas as pd
from pandasql import sqldf

In [9]:
# Como ver si una libreria esta instalada
!pip show pandasql

Name: pandasql
Version: 0.7.3
Summary: sqldf for pandas
Home-page: https://github.com/yhat/pandasql/
Author: Greg Lamp
Author-email: greg@yhathq.com
License: Copyright (c) 2013 Yhat, Inc.

        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
Location: /usr/local/lib/python3.8/dist-packages
Requires: numpy, pandas, sqlalchemy
Required-by:

# 02. Importar dataframe

In [10]:
path = 'https://raw.githubusercontent.com/vivianahuetio/SQLZOO_Excercises/main/titanic.csv'

In [12]:
tabla_titanic = pd.read_csv(path, nrows=6)
tabla_titanic

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S
5          897       3  ...   NaN        S

[6 rows x 11 columns]

# 03. Ejecutar Queries

In [13]:
sqldf(
"""    
SELECT name, sex
FROM tabla_titanic
"""
)

                                           Name     Sex
0                              Kelly, Mr. James    male
1              Wilkes, Mrs. James (Ellen Needs)  female
2                     Myles, Mr. Thomas Francis    male
3                              Wirz, Mr. Albert    male
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female
5                    Svensson, Mr. Johan Cervin    male